body {
	padding-bottom: 70px; 
}
.table {
	margin-bottom: 0px;
}
.draggable {
	position: relative;
}
.handle {
	cursor: move;
}
.snappable, .snappable-min {
	border-width: 1px;
	border-style: dashed;
	border-color: transparent;
	position: relative;
	z-index: 20;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}
.dock {
	padding: 10px;
	display: none;
}
.navbar .snappable-min {
	padding: 30px 10px 0 10px;
}
.panel-primary-bg {
	background: #428bca;
	text-align: center;
}
.panel-primary .panel-heading small {
	color: #fff;
}
.panel-primary-bg>li>a {
	background: #efefef;
}
.panel-primary-bg>li {
	float: none;
	display: inline-block;
}
.navbar-fixed-bottom {
	background: transparent;
	border: none;
}
.navbar-fixed-bottom .container {
	background: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 4px 4px 0 0;
}
.battery-percent {
	position: relative;
	z-index: 5;
	font-size: 9px;
	width: 44px;
	display: inline-block;
	top: -4px;
	text-align: center;
}
.battery {
	position: relative;
	display: inline-block;
	margin: 0px 0px 0 -48px;
	background: #7DCF87;
	width: 50px;
	height: 14px;
   z-index: 2; 
  
}
.battery:before {
	content: "";
	display: block;
	background: transparent;
	border: 1px solid #4C4C4C;
	margin: -2px;
	width: 50px;
	height: 18px;
	position: absolute;
	border-radius: 2px;
}
.battery:after {
	content: "";
	display: block;
	background: #4C4C4C;
	margin: 1px 49px;
	width: 1px;
	height: 11px;
	position: absolute;
	border-radius: 1px;
}
.hr-small {
	margin: 10px 0;
}