.table {
	margin-bottom: 0px;
}
.draggable {
	position: relative;
}
.handle {
	cursor: move;
}
.snappable {
	border-width: 1px;
	border-style: dashed;
	border-color: transparent;
	position: relative;
	z-index: 20;
}
.panel-primary-bg {
	background: #428bca;
	text-align: center;
}
.panel-primary .panel-heading small {
	color: #fff;
}
.panel-primary-bg>li>a {
	background: #efefef;
}
.panel-primary-bg>li {
	float: none;
	display: inline-block;
}