.table {
	margin-bottom: 0px;
}
.draggable {
	position: absolute;
}
.panel-primary-bg {
	background: #428bca;
	text-align: center;
}
.panel-primary .panel-heading small {
	color: #fff;
}
.panel-primary-bg>li>a {
	background: #efefef;
}
.panel-primary-bg>li {
	float: none;
	display: inline-block;
}